# These are host packages needed for Drydock
# that don't come on a minimal Ubuntu install
libvirt-dev
libyaml-dev
pkg-config
python3-dev
gcc
netbase
libssl-dev
python3-pip
python3-setuptools
ssh
curl
