PyYAML===3.12
pyghmi===1.0.18
netaddr
falcon
oslo.versionedobjects===1.23.0
requests
oauthlib
uwsgi===2.0.15
bson===0.4.7
oslo.config===3.16.0
click===6.7
PasteDeploy==1.5.2
keystonemiddleware===4.9.1
oslo.policy===1.22.1
iso8601===0.1.11
keystoneauth1===2.13.0
