
alembic
Beaker
click
defusedxml
falcon
iso8601
jinja2
jsonschema
keystoneauth1==4.3.1
keystonemiddleware
libvirt-python
netaddr
mock
oauthlib
oslo.config==8.6.0
oslo.context==4.0.0
oslo.log==4.8.0
oslo.policy==3.10.1
oslo.serialization==4.1.0
oslo.utils==4.12.3
oslo.db==11.2.0
oslo.versionedobjects
Paste
PasteDeploy
psycopg2-binary
PTable
pyghmi
pylibyaml
pymongo
python-memcached
PyYAML
redfish
requests
responses
SQLAlchemy
ulid2
uWSGI